@import "src/styles/variables";

.btn {
    width: calc(25% - 0.5rem);
    box-sizing: border-box;

    margin: 0.25rem;
    padding: 1rem;

    border: none;
    border-radius: 1rem;

    font-size: 2rem;
    text-align: center;

    cursor: pointer;

    &.primary {
        background-color: $button-background-color-primary;
        color: $button-color-primary;

        &:hover {
            background-color: darken($button-background-color-primary, 10%);
        }
    }

    &.secondary {
        background-color: $button-background-color-secondary;
        color: $button-color-secondary;

        &:hover {
            background-color: darken($button-background-color-secondary, 10%);
        }
    }

    &.secondary {
        background-color: $button-background-color-secondary;
        color: $button-color-secondary;

        &:hover {
            background-color: darken($button-background-color-secondary, 10%);
        }
    }

    &.third {
        background-color: $button-background-color-third;
        color: $button-color-third;

        &:hover {
            background-color: darken($button-background-color-third, 10%);
        }
    }
}
