//Colors
$body-background-color: #F1F2F3;

$button-background-color-primary: #FFF;
$button-background-color-secondary: #D2D3DA;
$button-background-color-third: #FD8D0E;

$button-color-primary: #000;
$button-color-secondary: #000;
$button-color-third: #FFF;

$display-background-color: #FFF;

$font-color: #000;
