@import "variables";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  color: $font-color;
}

body {
  background-color: $body-background-color;
}