@import "src/styles/variables";

.display {
    margin: 20px 5px;
    padding: 10px;
    overflow: hidden;

    border-radius: 1rem;
    background-color: $display-background-color;

    font-size: 4rem;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}